/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

.page {
  --padding-left-right: 0;
  display: grid;
  gap: 40px;
  padding: 0 var(--padding-left-right);
  overflow-x: hidden;
  color: var(--text-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--main-font-size);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 12.4em min-content;
  height: 100vh;
  padding: 10px;
  min-block-size: 100vh;
}

.framed-zone::before {
  content: '';
  position: absolute;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.framed-zone::after {
  content: '';
  position: absolute;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  align-items: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12px;
  color: var(--content-header-color);
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--outline-color-40);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__text {
  align-self: center;
  width: 100%;
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

.header__decor {
  position: absolute;
  top: 10px;
  right: 19px;
  visibility: var(--is-visible-rec);
  color: var(--accent-color);
  font-family: inherit;
  text-transform: uppercase;
}

.header__decor::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px currentColor;
  background-color: var(--accent-color);
}

.header__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 100.7px;
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  color: var(--header-color);
  background-color: var(--accent-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-block-start: 6px;
}

.content__section {
  display: grid;
  gap: 20px;
  padding-inline: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.content__section:has(.content__gallery) {
  gap: 10px;
}

.content .content__section:nth-child(odd) {
  grid-template-columns: repeat(auto-fill, minmax(351.03px, 1fr));
}

.content__section-header {
  color: var(--content-header-color);
  font-size: inherit;
}

.content__section-header:nth-of-type(odd) {
  grid-row-start: span 2;
  grid-row-end: 2;
}

.content__section-advice {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 23.4px;
}

.content__section-advice:has(.content__section-advice) {
  gap: 20px;
}

.content__section-advice-header {
  font-size: inherit;
  line-height: inherit;
}

.content__section-advice-subheader {
  font-weight: inherit;
  line-height: inherit;
}

.content__section-advice-text {
  font-size: inherit;
  line-height: inherit;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  gap: 10px;
}

.content__gallery-header {
  font-family: inherit;
  font-size: inherit;
}

.content__gallery-image {
  width: 100%;
  object-fit: cover;
}

.content__section-list {
  display: grid;
  gap: 20px;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-transform: lowercase;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (375.5px < width) {

  .content__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-areas:
      'sunset sunset ice-cream'
      'tape books ice-cream'
      'tape street street';
    gap: 20px;
  }

  .content__gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }
}

@media (375.5px < width < 769px) {

  .header {
    grid-template-rows: 25.4em 2.2fr 465px;
    /* margin-bottom: 377px; */
    padding-inline: 20px;
  }

  .header__text {
    justify-self: end;
    align-self: center;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
  }

  .header__decor {
    top: 20px;
    right: 29px;
  }

  .framed-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .framed-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .content {
    gap: 80px;
  }

  .content__section:has(.content__gallery) {
    gap: 20px;
  }

  .content .content__section:nth-child(odd) {
    grid-template-columns: 236px 472px;
  }

  .content__section-list {
    display: grid;
    gap: 20px;
  }

  .content__section-header {
    inline-size: 236px;
  }

  .footer {
    margin-bottom: 200px;
  }
}

@media (769px < width < 1024px) {

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .content {
    gap: 80px;
  }

  .footer {
    margin-block-start: 205px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (1024px <= width) {

  .header {
    grid-template-rows: 18.4em 2.2fr 319px;
    /* margin-bottom: 120px; */
    padding-inline: 20px;
  }

  .header__theme-menu {
    justify-content: center;
    align-items: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__decor {
    top: 20px;
    right: 29px;
  }

  .framed-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .framed-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__title,
  .footer {
    font-size: 157px;
  }

  .header__text {
    justify-self: end;
    align-self: center;
    inline-size: 491px;
  }

  .content {
    gap: 80px;
  }

  .content + .content__section {
    margin-block-start: 16px;
  }

  .content__section:has(.content__gallery) {
    gap: 20px;
  }

  .content .content__section:nth-child(odd) {
    grid-template-columns: 314.96px 648.92px;
  }

  .content__section-list {
    display: grid;
    grid-template-columns: repeat(3, 315px);
    gap: 20px;
  }

  .content__section-header {
    inline-size: 314.96px;
  }

  .footer {
    margin-block-start: 71px;
  }
}
